[submodule "external/debugger-libs"]
path = external/debugger-libs
url = ssh://git@github.com/CodeEditorLand/DebuggerLibs.git

[submodule "external/nrefactory"]
path = external/nrefactory
url = ssh://git@github.com/CodeEditorLand/NRefactory.git
