[submodule "external/debugger-libs"]
path = external/debugger-libs
url = https://github.com/CodeEditorLand/debugger-libs.git

[submodule "external/nrefactory"]
path = external/nrefactory
url = https://github.com/CodeEditorLand/NRefactory.git
